.MMM-SimpleBGSlideshow,
.MMM-SimpleBGSlideshow .wrapper::after,
.MMM-SimpleBGSlideshow .module-content,
.MMM-SimpleBGSlideshow .wrapper,
.MMM-SimpleBGSlideshow .images,
.MMM-SimpleBGSlideshow img {
    position: absolute;
    width:100%;
    height:100%
}

.MMM-SimpleBGSlideshow .wrapper::after {
    content: "";
}
.MMM-SimpleBGSlideshow .wrapper.linearGradient::after {
    background: linear-gradient(
        var(--grad-linear-angle, 0deg),
        rgba(0, 0,0, var(--grad-opacity, .75)) 0%,
        rgba(0,0,0,0) var(--grad-stop1, 40%),
        rgba(0,0,0,0) var(--grad-stop2, 80%),
        rgba(0, 0,0, var(--grad-opacity, .75)) 100%
    );
}
.MMM-SimpleBGSlideshow .wrapper.linearGradient.horizontal{
    --grad-linear-angle: 90deg
}

.MMM-SimpleBGSlideshow .wrapper.radialGradient::after {
    background: radial-gradient(
        closest-side,
        rgba(0,0,0,0) var(--grad-stop1, 80%),
        rgba(0,0,0,var(--grad-opacity, .75)) var(--grad-stop2, 110%)
    );
}

.MMM-SimpleBGSlideshow img{
    object-fit: cover;
}

body.brighterColors{
    --color-text: #e6e6e6;
    --color-text-dimmed: #bfbcbc;
}
